.menu-bar {
    -fx-padding: 0 12 0 12;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: #eee;
}

.menu {
    -fx-padding: 3 10 3 10;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 -0.7 0.3;
}

.menu .label {
    -fx-text-fill: #444;
}

.menu:hover {
    -fx-background-color: #ddd;
}

.menu:showing {
    -fx-background-color: #ccc;
}

.menu-item {
    -fx-padding: 3 6 3 6;
}

.menu-item .label {
    -fx-text-fill: #444;
}

.context-menu {
    -fx-padding: 0;
    -fx-min-width: 200;
    -fx-background-color: #eee;
    -fx-border-width: 0.3;
    -fx-border-insets: 1;
    -fx-border-color: #888;
    -fx-background-insets: 1;
    -fx-effect: none;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #888;
    -fx-border-insets: 0;
    -fx-border-width: 0.3 0 0 0;
}

.menu-item:focused {
    -fx-background-color: #5a8ade;
    -fx-text-fill: white;
}

.menu-item:focused .label{
    -fx-text-fill: white;
}

.menu-item:focused .ikonli-font-icon{
    -fx-icon-color: white;
}

.slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}